@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');


:root{
	--gradient: rgb(0,120,189);
	--gradient-background: linear-gradient(90deg, rgba(0,120,189,1) 0%, rgba(225,4,220,1) 33%, rgba(240,181,27,1) 66%, rgba(254,98,39,1) 100%);
	--gradient-background--mid: linear-gradient(90deg, rgba(0, 120, 189, 0.694) 0%, rgba(225, 4, 221, 0.659) 33%, rgba(240, 180, 27, 0.645) 66%, rgba(254, 96, 39, 0.592) 100%);

	--min-gray: rgb(58, 58, 58);
	--min-mid-gray: rgb(86, 86, 86);


	--font: 'Montserrat', 'sans-serif';

}

.disabled {
	pointer-events: none;
	opacity: 0.6;
}

body {
	font-family: var(--font);
}

img#img-navbar {
	width: 4rem;
}

nav span {
	display: flex;
	align-items: center;
	gap: 1rem;
}

nav h1 {
	font-size: 1.2rem;
	font-weight: 500;
}

div.question {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding-inline: 1rem;
	padding-block: 0.2rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
}

div.question__index {
	width: 100%;
	background: var(--gradient-background);
	padding-inline: 0.4rem;
	color: white;
	border-radius: 0.5rem;
}

h1.question__question {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

div.question__radio-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-inline: 2rem;
}

input[type="radio"]{
	margin: 6px;
	accent-color: gray;
}

.radio-big {
	width: 2rem;
	height: 2rem;
}

.radio-max-mid, .radio-min-mid {
	width: 1.5rem;
	height: 1.5rem;
}

.radio-mid {
	width: 1.2rem;
	height: 1.2rem;
}

div.radio-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-radio-wrapper {
	border-radius: 100%;
	width: fit-content;
	height: fit-content;
	background-color: rgba(128, 128, 128, 0.399);
}

.input-radio-wrapper--max {
	background: var(--gradient-background);
}

.input-radio-wrapper--max-mid{
	background: var(--gradient-background--mid);
}

.input-radio-wrapper--min {
	background: var(--min-gray);
}

.input-radio-wrapper--min-mid {
	background: var(--min-mid-gray);
}

p.radio-wrapper-desc {
	font-weight: 700;
	font-size: 1rem;
	color: gray;
}

p.radio-wrapper-desc--max {
	background: var(--gradient-background);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.radio-wrapper-desc--min {
	color: black;
}

button.submit-button {
	margin: auto;
	background: var(--gradient-background);
	border: none;
}

img#img-footer {
	width: 22rem;
	margin: auto;
	margin-block: 1rem;
}